.kamphero{
   width: 100%; 
   min-height: 50vh;
   background: linear-gradient(to right, rgba(219,39,119,0.8),rgba(147,51,234,0.8), rgba(219,39,119,0.8)), url('../../assets/KAMPINFOHERO.jpg');
   background-size: cover;
   background-position: top center;
   color: #fff;
   display: flex;
   padding: 4rem 0;
   align-items: center; /* Vertically center the content */
   justify-content: center; /* Horizontally center the content */
}
.kamphero-text{
   text-align: center;
   display: flex;
   max-width: 960px;
   flex-direction: column;
   align-items: center; /* Vertically center the content */
   justify-content: center; /* Horizontally center the content */
}
.kamphero-text h1{
   font-size: 3.8rem;
   font-weight: 700;
}
.kamphero-text p{
   font-size: 1.5rem;
   margin: 10px auto 20px;
   line-height: 1.4;
}
.colorBarBrown{
  margin: .8rem auto;
  width: 8rem; /* w-32 → 8rem */
  height: 0.5rem; /* h-2 → 0.5rem */
  background: linear-gradient(to right, #fcd34d, #f9a8d4); /* from-yellow-300 to-pink-300 */
  margin-left: auto; /* mx-auto */
  margin-right: auto; /* mx-auto */
  margin-bottom: 2rem; /* mb-8 → 2rem */
  border-radius: 9999px; /* rounded-full */

}
.starIconSign{
    color: #fcd34d;
    font-size: 4rem;
    border-radius: 12px;
    animation: pulse 3s infinite;
}
@keyframes pulse {
  0% {
    color: rgba(252, 211, 77, 0.3); /* lighter tint */
  }
  50% {
    color: rgba(252, 211, 77, 0.7); /* stronger tint */
  }
  100% {
    color: rgba(252, 211, 77, 0.3); /* back to lighter tint */
  }
}
/*Media Query*/
@media (max-width: 860px) {
    .kamphero{
        margin-top: 5.2rem;
        min-height: 60vh;
    }
   .kamphero-text h1{
        font-size: 2.2rem;
   }
   .kamphero-text p{
        font-size: 1.3rem;
   }
}

/* THEME */
.themeTitle{
    background: var( --bg-almwhite);
    padding: 5rem 0;
}
.themeTitleBody{
    text-align: center; 
    max-width: 800px; 
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.themeTitleBodyIcon{
    color: #9333ea;
    font-size: 3rem;
}
.themeTitleBody h1{
  font-size: 2.4rem;
  font-weight: 700;  
  background: linear-gradient(to right,  #9333ea, #db2777);  
  background-clip: text;     
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
  line-height: 4rem;
}
.anchorDiv{
  width: 72%;
  margin: 0 auto;
  background: white;
  border: .1rem solid var(--border-purple);
}
.anchorDiv h1{
  color: #fcd34d ;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right,  #9333ea, #db2777);  
  font-size: 1.4rem;
  font-weight: 600;
  padding: 1rem 0rem;
  opacity: .8;
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
}
.anchorDivhicon{
  color: white;
  margin-right: .8rem;
  font-size: 1.8rem;
}
.anchorDivp{
  padding: 2rem;
  color: var(--grey);
  font-weight: 400;
  font-size: 1.1rem;
}
.anchorMeaningP{
  padding-left: 2rem;
  display: flex;
  flex-direction: column;
}
.anchorMeaningC{
  border-left: .2rem solid #9333ea;
  background: linear-gradient(to right,#FAF5FF, #ffffff);
  color: var(--grey);
  padding: 1.5rem 0rem .1rem 1rem;
}
.anchorMeaningC p{
  color: #7E22CE;
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: .4rem;
}
.anchorMeaningC ul li{
  display: inline-flex;
}
.anchorIcon{
  margin-right: .4rem;
  color: #db2777;
  font-size: 1.4rem;
}
.btnAnchor{
  margin: 2rem auto;
}
/* MEDIA QUERIES */
@media(max-width: 860px) {
.themeTitle{
    padding: 4rem 0 4rem;
}
.anchorDiv{
  width: 96%;
}
}

/* KAMP KODE AND GENERAL */
.ki-wrapper{
  background: white;
  padding: 4rem 0rem;
}
.ki-hero{
  text-align: center; 
  max-width: 900px; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ki-header{
  font-size: 2.4rem;
  font-weight: 700;  
  background: linear-gradient(to right,  #9333ea, #db2777);  
  background-clip: text;     
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  display: inline-block;
}
.ki-paragraph{
  color: var(--grey);
  font-weight: 400;
  font-size: 1.1rem;
  transform: translateY(-50%);
  margin: 0rem 1.15rem 2rem 1.15rem;
}
.ki-block{
  width: 71%;
  border-radius: .375rem;
  margin: 0 auto;
   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
}
.ki-block-header{
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 0rem;
  opacity: .8;
  color: white;
  border-top-left-radius: .375rem;
  border-top-right-radius: .375rem;
  padding: 1.5rem 1.6rem;
}
.ki-block-icon{
  margin-right: .6rem;
  font-size: 1.8rem;
}
.ki-block ul{
  padding: 1rem 0;
}
.ki-block ul li{
  display: flex;
  padding-left: 2rem;
  margin-top: 1rem;
  color: var(--grey);
  font-size: 1.1rem;
} 
.ki-p2{
 margin-left: 2rem;
}
.ki-wrapper img{
  width: 71%;
  margin: 2rem auto;
  display: flex;
  height: 60vh;
  object-fit: cover;
  object-position:  center;
  border-radius: .375rem;
}
/* .ki-hero-icon{
  animation: pulse 3s infinite;
} */
/* @keyframes pulse {
  0% {
    color: rgba(219, 39, 119, 0.3); 
  }
  50% {
    color: rgba(219, 39, 119, 0.7); 
  }
  100% {
    color: rgba(219, 39, 119, 0.3); 
  }
} */
 @media(max-width: 1020px) {
.ki-block{
  width: 86%;
}
 }
@media(max-width: 860px) {
.ki-block{
  width: 92%;
}
.ki-wrapper img{
  width: 92%;
    height: 40vh;
}
.ki-hero{
  max-width: 600px;
}
.ki-paragraph{
  transform: translateY(-20%);
}

}