/* * */
.colorBar{
   width: 6rem; 
   height: .25rem; 
   background: linear-gradient(to right, #ec4899 ,#a855f7);
   margin: 1rem auto 2rem;
   display: block;
   border-radius: 9999px
}

/* TITLE */
.volunteerTitle{
   background: white;
   padding: 6rem 0 3rem;
}
.volunteerBody{
   text-align: center; 
   max-width: 800px; 
   margin: 0 auto;
}
.volunteerTitle h1{
   font-size: 3rem;
   font-weight: 700;  
   background: linear-gradient(to right, #db2777, #9333ea);       
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: transparent;
   display: inline-block;
   line-height: 4rem;
}
.volunteerTitle p{
   color: #4b5563;  
   font-size: 1.275rem; 
}
@media (max-width: 860px){
.volunteerTitle h1{
   font-size: 2.2rem;
}
.volunteerTitle{
   padding: 8rem 0 3rem;
}
}

/* Hero */
.volunteerHero{
   padding: 0 1rem 4rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.vh1{
  flex-basis: 48%;
}
.vh1 img{
   border-radius: .375rem;
}
.vh2{
   flex-basis: 48%;
   text-align: left;
}
.vh2 h1{
   color: black;
   font-size: 1.5rem;
   font-weight: 700;
}
.vh2 p{
   margin: 1rem 0;
   color: #4b5563;  
   font-size: 1.175rem; 
}
@media (max-width: 860px){
.volunteerHero{
   flex-direction: column;
}
.vh2{
   margin-top: 2rem;
}
}

/* Roles */
.volunterRoles{
   background: var(--bg-almwhite);
   padding: 4rem 0;
}
.volunteerRolesHeader{
   padding-bottom: 1rem;
}
.volunteerRolesLists{
   display: flex;
   align-items: center; 
   padding: 1rem;
   font-size: 1rem;
   justify-content: center;
   margin-top: 3rem;
}
.volunteerRolesList{
   padding: 1.2rem 1rem;
   background: #ffffff;
   border-radius: .375rem;
   text-align: left;
   width: 23rem;
   height: 15rem;
   border: 1px solid var(--border-pink);
}
.volunteerRolesList:hover{
   box-shadow: 0 8px 10px rgba(0, 0, 0, 0.15);
}
.volunteerRolesList h1{
   font-weight: 600;
   font-size: 1.6rem;
   color: #db2777;
}
.volunteerRolesList p{
   color: #4b5563;
   margin-top: 1rem;
}
.volunteerRolesList:nth-child(2){
   margin: 0 1rem;
}
.volunteerRolesIcons{
   font-size: 2.6rem;
   margin-bottom: 1rem;
   color: #db2777;
}
@media(max-width: 860px){
.volunteerRolesLists{
   flex-direction: column;
  
}
.volunteerRolesList{
   padding: 1.2rem 1rem;
   width: 100%;
   height: 13rem;
}
.volunteerRolesList:nth-child(2){
   margin: 1rem 0;
}
}




/* iframe */
.volunteerRegistration{
   padding: 4rem 0;
   background: whitw;
}
.volunteerRegistrationForm{
   display: flex;
   flex-direction: column;
   margin-top: 1rem;
}
.volunteerRegistrationForm iframe{
   margin: 0 auto;
   padding-bottom: 1rem;
   width: 80%;
}
.volunteerRegistrationFormChild{
   padding: 1rem 0;
   background: white;
   border: 1px solid #E9D5FF;
   border-radius: .375rem;
   width: 80%;
   margin: 0 auto;
}
.volunteerRegistrationFormChild{
   text-align: center;
   color: var(--grey-text);
   
}
.volunteerRegistrationFormChild a{
   text-decoration: underline;
   color: var(--pink-main);
}
@media(max-width: 860px){
.volunteerRegistrationForm iframe{
   width: 95%;
}
.volunteerRegistrationFormChild{
   padding: 1rem 0;
   width: 95%;
}
} 



.benefits{
   background: var(--bg-almwhite);
   padding: 4rem 0;
}
















/* Register */
.volunteerRegisterForm{
   background: var(--bg-grad);
   padding: 4rem 0;
   color: #ffffff;
}
.minVolunteerRegisterForm{
   text-align: center;
   max-width: 700px;
   margin: 0 auto;
}
.minVolunteerRegisterForm h1{
   font-size: 1.875rem;
   font-weight: 700;          
   margin-bottom: 1rem;
}
.minVolunteerRegisterForm p{
   margin-bottom: 1.2rem;
   font-size: 1.2rem;
   font-weight: 400;
}
@media(max-width: 860px){
.minVolunteerRegisterForm{
   padding: 0 1rem;
}
} 
