

/* TITLE */
.volunteerTitle{
   background: white;
   padding: 6rem 0 3rem;
}
.volunteerBody{
   text-align: center; 
   max-width: 800px; 
   margin: 0 auto;
}
.volunteerTitle h1{
   font-size: 3rem;
   font-weight: 700;  
   background: linear-gradient(to right, #db2777, #9333ea);  
   background-clip: text;     
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: transparent;
   display: inline-block;
   line-height: 4rem;
}
.volunteerTitle p{
   color: #4b5563;  
   font-size: 1.275rem; 
}
@media (max-width: 860px){
.volunteerTitle h1{
   font-size: 2.2rem;
}
.volunteerTitle{
   padding: 8rem 0 3rem;
}
}

