.form{
    background: var(--bg-grad);
    padding: 4rem 0;
    color: #ffffff;
}
.min-form{
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
}
.min-form h1{
    font-size: 1.875rem;
    font-weight: 700;          
    margin-bottom: 1rem;
}
.min-form p{
    margin-bottom: 1.2rem;
    font-size: 1.2rem;
    font-weight: 400;
}
.fbtn{
    margin: .6rem;
}

@media(max-width: 860px){
    .min-form-div{
        flex-direction: column;
    }
    .fbtn{
        width: 90%;
    }
}