.partners{
    background: var(--bg-almwhite);
    padding: 4rem 1rem;
    width: 100%;;
}
.part1{
    max-width: 800px;
    margin: 0 auto;
}
.partners ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 4rem;
}
.partimg{
    transition: all 0.3s ease;
}
.partners ul li{
    margin: 0 .4rem;
    flex-basis: 18.6%;
    background: #ffffff;
    padding: 1rem;
    border: 1px solid #fbcfe8;
    border-radius: .375rem;
    height: 8rem;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    cursor: pointer;
}
.partners ul li:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}
.partners ul li:hover .partimg{
    transform: scale(1.02);
}



@media (max-width: 860px) {
.partners ul{
    flex-direction: column;
}
.partners ul li{
    margin: .6rem .4rem;
    width: 100%;
    flex-direction: column;
}
.partimg{
    width: 80%;
}
.partimgshrink{
    width: 40%;
}

}